<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.box.box">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.box.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MainTheme">
        <activity
            android:name="com.box.launch.LaunchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/launchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.box.launch.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.box.launch.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.MainActivity"
            android:logo="@drawable/courier_me_head"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".customer.exress.functionfragment.query.QueryInfoActivity"
            android:label="@string/title_activity_express_information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.exress.functionfragment.arrive.ArrivedInfoActivity"
            android:label="ArrivedInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".courier.CourierMainActivity"
            android:label="DeliverMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CourierMainTheme" />
        <activity
            android:name=".customer.exress.functionfragment.arrive.ArrivingInfoActivity"
            android:label="@string/title_activity_arriving_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.me.function.MyInformationActivity"
            android:label="@string/title_activity_my_information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.me.function.RankActivity"
            android:label="@string/title_activity_rank"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.me.function.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait" />
        <activity
            android:name=".courier.me.function.CourierMyInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CourierMainTheme" />
        <activity
            android:name=".courier.me.function.CourierRankActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CourierMainTheme" />
        <activity
            android:name=".courier.me.function.CourierSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CourierMainTheme" />
        >

        <!-- ###################注册SDK使用的Activity###################### -->
        <!-- 分享编辑页 -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID -->
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5547ad8067e58e7ae0008216" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <activity
            android:name=".customer.exress.functionfragment.sendme.WantSendActivity"
            android:label="@string/title_activity_want_send"
            android:screenOrientation="portrait" />
        <activity
            android:name=".customer.exress.functionfragment.sendme.SendmePayActivity"
            android:label="@string/title_activity_sendme_pay"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".courier.search.CourierGetExpressActivity"
            android:label="@string/title_activity_courier_get_express"
            android:screenOrientation="portrait"
            android:theme="@style/CourierMainTheme"></activity>
        <activity
            android:name=".courier.search.CourierFeedbackActivity"
            android:label="@string/title_activity_courier_feedback"
            android:screenOrientation="portrait"
            android:theme="@style/CourierMainTheme"></activity>
        <activity
            android:name=".customer.me.function.feedbackActivity"
            android:label="@string/title_activity_feedback"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".customer.me.function.EditInformationActivity"
            android:label="@string/title_activity_edit_information"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".courier.me.function.EditCourierInformationActivity"
            android:label="@string/title_activity_edit_courier_information"
            android:theme="@style/CourierMainTheme"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>
